In [9]:
import pandas as pd

practice = pd.DataFrame({
    '날짜': [],
    '운동': [],
    '운동량': []
})
practice

# 데이터 추가: 변경 - loc[]
practice.loc[(0)] = ['23-03-01', '달리기', 1]
practice.loc[(1)] = ['23-03-02', '걷기', 1]
practice.loc[(2)] = ['23-03-02', '달리기', 1]
practice.loc[(3)] = ['23-03-02', '계단오르기', 1]
practice.loc[(4)] = ['23-03-03', '걷기', 1.5]
practice.loc[(5)] = ['23-03-03', '달리기', 1]
practice.loc[(6)] = ['23-03-04', '걷기', 1.5]
practice.loc[(7)] = ['23-03-04', '달리기', 1]
practice.loc[(8)] = ['23-03-05', '걷기', 1.5]
practice.loc[(9)] = ['23-03-06', '달리기', 1]

practice

         날짜     운동  운동량
0  23-03-01    달리기  1.0
1  23-03-02     걷기  1.0
2  23-03-02    달리기  1.0
3  23-03-02  계단오르기  1.0
4  23-03-03     걷기  1.5
5  23-03-03    달리기  1.0
6  23-03-04     걷기  1.5
7  23-03-04    달리기  1.0
8  23-03-05     걷기  1.5
9  23-03-06    달리기  1.0

In [14]:
practice.pivot_table(index='운동', values='운동량', aggfunc='sum') # 합계
practice.pivot_table(index='운동', values='운동량') # 평균

         운동량
운동
걷기     1.375
계단오르기  1.000
달리기    1.000

In [15]:
# to_csv() 파일 만들기
practice.to_csv('./datas/practice.csv')

In [17]:
practice = practice.set_index('날짜') # 인덱스를 '날짜'로 설정

In [19]:
practice.to_csv('./datas/practice.csv')

In [22]:
# 외부 파일 읽어오기 - pd.read_csv()
exercise = pd.read_csv('./datas/practice.csv', index_col=0) # culumn =
exercise

             운동  운동량
날짜
23-03-01    달리기  1.0
23-03-02     걷기  1.0
23-03-02    달리기  1.0
23-03-02  계단오르기  1.0
23-03-03     걷기  1.5
23-03-03    달리기  1.0
23-03-04     걷기  1.5
23-03-04    달리기  1.0
23-03-05     걷기  1.5
23-03-06    달리기  1.0