In [1]:
a = 10
b = 20
a + b

30

In [2]:
def add(x, y):
    return x + y
print(add(10, 11))

21

In [5]:
a = [1, 2, 3, 4]

for i in a:
    print(i, end=' ')

1 2 3 4

In [6]:
a.append(5)
a

[1, 2, 3, 4, 5]

In [7]:
a.pop() # 마지막 요소 삭제
a

[1, 2, 3, 4]

In [10]:
a.insert(1, 10) # 특정 위치에 삽입
a

[1, 10, 10, 10, 2, 3, 4]

In [12]:
a.remove(3) # 특정 요소 삭제
a

ValueError: list.remove(x): x not in list

In [13]:
sum(a)

37

In [16]:
dic = {'대원': 13, '혜수': 9}
dic

{'대원': 13, '혜수': 9}

In [15]:
dic['혜수']

9

In [20]:
dic['진'] # 딕셔너리 요소 추가
dic

KeyError: '진'

##Pandas 라이브러리 포함
## pandas 라이브러리 포함
# '#'의 크기가 많을수록 글씨가 작아짐

# series - 1차원 벡터 데이터에 행방향 인덱스를 붙인것
### DataFrame - 2차원 행과 열의 형태로 표현되는 것

In [24]:
import pandas as pd

# 리스트를 사용해서 Series 생성
data = [1, 2, 3, 4, 5]
pd.Series(data)

NameError: name 's' is not defined

In [25]:
# 딕셔너리를 이용한 Series 생성
dic = {'100':'남', '101':'여', '102':'', '103':'남'}
gender = pd.Series(dic)
gender

100    남
101    여
102
103    남
dtype: object

In [28]:
name = pd.Series({'100':'이산하', '101':'강하늘', '102':'김산', '103':'안전해'})
print(name)

100    이산하
101    강하늘
102     김산
103    안전해
dtype: object

In [34]:
# DataFrame 사용
회원 = pd.DataFrame({
    '회원번호':['100', '101', '102', '103'],
    '성별':['남','여','','남'],
    '이름':['이산하', '강하늘', '김산', '안전해']
})
회원 = 회원.set_index('회원번호')
회원

     성별   이름
회원번호
100   남  이산하
101   여  강하늘
102       김산
103   남  안전해

In [35]:
회원['성별'] == '여'

회원번호
100    False
101     True
102    False
103    False
Name: 성별, dtype: bool

### 값 변경하기
### loc 속성 사용 - location(위치)

In [36]:
회원.loc['102']['이름'] = '송중기'
회원

     성별   이름
회원번호
100   남  이산하
101   여  강하늘
102      송중기
103   남  안전해

In [39]:
회원.iloc[2][0] = '남'
회원

     성별   이름
회원번호
100   남  이산하
101   여  강하늘
102   남  송중기
103   남  안전해

## CSV 파이로 저장하기
### csv(comma seperated value) - 쉼표로 구분된 값

In [40]:
회원.to_csv("./datas/회원명부.csv")

OSError: Cannot save file into a non-existent directory: 'datas'

In [41]:
회원 = pd.read.csv("./datas/회원명부.csv")
회원

AttributeError: module 'pandas' has no attribute 'read'